.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: left;
  z-index: 9999;
}
.popup-modal {
  background: #fff;
  padding: 24px 30px;
  border-radius: 8px;
  width: 45%;
  max-width: 800px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 60px;
   display: flex;
  flex-direction: column;
  align-items: center;
}

.headerr {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  margin-bottom: 15px;
  /* background-color: currentcolor; */
  border-bottom: 1px solid #e5e7eb;
   width: 100%; 
   padding-bottom: 12px;
  margin-bottom: 15px;

}

.success-icon {
  margin-bottom: 5px;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.modal-content button {
  margin-top: 15px;
  padding: 6px 12px;
  cursor: pointer;
}
